.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    line-height: 100%;
}
@media only screen and (max-width:768px){
    .ant-table-content {
        overflow: hidden;
        overflow-x: scroll;
    }
}
