#timeCine {
    max-width: 940px;
  }
  
  #timeCine nav .nav-tabs {
    border-bottom: unset;
  }
  
  #timeCine nav .nav-tabs .nav-link {
    border: none;
    font-size: 20px;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: #000;
  }
  
  #timeCine nav .nav-tabs .nav-link.active {
    font-size: 24px;
    color: #fa5238;
  }
  
  #timeCine nav .nav-tabs .nav-link:hover {
    font-size: 24px;
  }
  
  #timeCine .carousel_slick_2 {
    margin-top: 2rem;
  }
  
  #timeCine .carousel_slick_2 .slick-track .item {
    padding: 0 1rem;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .wrap {
    display: block;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .wrap:hover {
    cursor: pointer;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .box {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 5px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .box .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
    background: linear-gradient(to top, #000, transparent 100%);
    top: 0;
    opacity: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .box .overlay:hover {
    opacity: 1;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .box .overlay button {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
    background: 0 0;
    border: none;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .box .overlay button:hover {
    opacity: .7;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .box span {
    font-size: 16px;
    background-color: rgba(12, 27, 54, 0.8);
    border: 1px solid #1f2e46;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    width: 54px;
    text-align: center;
    line-height: 1.1;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .box span p:nth-child(1) {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .box span p:nth-child(2) {
    margin: 4px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .box span p:nth-child(2) img {
    max-width: 8px;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .info {
    margin-top: .5rem;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .info .nameFilm {
    height: 42px;
    max-height: 42px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    line-height: 20px;
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .info .nameFilm .ageType {
    font-size: 14px;
    background-color: #fb4226;
    border-radius: 4px;
    padding: 0 5px;
    color: #fff;
    min-width: 33px;
    text-align: center;
    display: inline-block;
    margin-right: 2px;
    font-weight: 600;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .info .nameFilm .ageType-general {
    background-color: #00ac4d;
  }
  
  #timeCine .carousel_slick_2 .slick-track .row .info .infoFilm {
    font-size: 13px;
    color: #4a4a4a;
    margin-bottom: 15px;
    margin-top: 8px;
  }
  
  #timeCine .carousel_slick_2 .slick-prev {
    left: -45px;
    /* background-image: url("/assets/images/back-session.png"); */
    top: 50%;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
  }
  
  #timeCine .carousel_slick_2 .slick-prev::before {
    display: none;
  }
  
  #timeCine .carousel_slick_2 .slick-next {
    right: -45px;
    /* background-image: url("../public/assets/images/next-session.png"); */
    top: 50%;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
  }
  
  #timeCine .carousel_slick_2 .slick-next::before {
    display: none;
  }
  
  #timeCine .carousel_slick_3 {
    margin-top: 2rem;
  }
  
  #timeCine .carousel_slick_3 .slick-track .item {
    padding: 0 1rem;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .wrap {
    display: block;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .wrap:hover {
    cursor: pointer;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .box {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 5px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .box .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
    background: linear-gradient(to top, #000, transparent 100%);
    top: 0;
    opacity: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .box .overlay:hover {
    opacity: 1;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .box .overlay button {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 3;
    background: 0 0;
    border: none;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .box .overlay button:hover {
    opacity: .7;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .box span {
    font-size: 16px;
    background-color: rgba(12, 27, 54, 0.8);
    border: 1px solid #1f2e46;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: #fff;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .info {
    margin-top: .5rem;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .info .nameFilm {
    height: 42px;
    max-height: 42px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    line-height: 20px;
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .info .nameFilm .ageType {
    font-size: 14px;
    background-color: #fb4226;
    border-radius: 4px;
    padding: 0 5px;
    color: #fff;
    min-width: 33px;
    text-align: center;
    display: inline-block;
    margin-right: 2px;
    font-weight: 600;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .info .nameFilm .ageType-general {
    background-color: #00ac4d;
  }
  
  #timeCine .carousel_slick_3 .slick-track .row .info .infoFilm {
    font-size: 13px;
    color: #4a4a4a;
    margin-bottom: 15px;
    margin-top: 8px;
  }
  
  #timeCine .carousel_slick_3 .slick-prev {
    left: -45px;
    /* background-image: url("../public/assets/images/back-session.png"); */
    top: 50%;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
  }
  
  #timeCine .carousel_slick_3 .slick-prev::before {
    display: none;
  }
  
  #timeCine .carousel_slick_3 .slick-next {
    right: -45px;
    /* background-image: url("/assets/images/next-session.png"); */
    top: 50%;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
  }
  
  #timeCine .carousel_slick_3 .slick-next::before {
    display: none;
  }